    <div id="waveform"></div>

    {{#each data}}

    <button class="playbutton" data_value={{this}}>PLAY {{this}}</button>

    {{/each}}

    <div>

        <button id="start">Start Record</button>

        <button id="stop">Stop Record</button>

    </div>

